.avatar-select-div {
  height: 100%;
  padding: 3.5rem;
}
.avatar-select-glass-div {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(3.3px);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1.5rem 0 1.5rem 0;
  border-radius: 2rem;
}

.avatar-option {
  height: 7rem;
  width: 7rem;
  background-color: rgb(165, 162, 162);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.avatar-option:hover {
  transform: scale(1.1);
}

.avatar-img {
  width: 100%;
}

.current {
  border: chartreuse 5px solid;
}

@media (max-width: 900px) {
  .avatar-select-div {
    padding: 2rem;
  }
  .avatar-select-glass-div {
    flex-wrap: wrap;
  }
  .avatar-option {
    height: 4.5rem;
    width: 4.5rem;
    margin: 1rem 1rem;
  }
}
