.avatar-select-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}

.avatar-option {
  height: 5rem;
  width: 5rem;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.avatar-option:hover {
  transform: scale(1.1);
}

.avatar-img {
  width: 100%;
}

.current {
  border: rgb(7, 7, 108) 5px solid;
}
